---
layout: default
---

<header>
  {% if site.theme_config.show_navbar == true %} {% include horizontal_list.html
  collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>
  {% endif %}

  <h1>{{ site.title }}</h1>
  {% if site.theme_config.show_description == true %}
  <p>{{ site.description }}</p>
  {% endif %}
</header>

{{ content }}

<h2></h2>
<p>
  Hello! I'm Li Yuxuan, a Software Engineer with a keen interest in Education
  Technology (EdTech). My goal is to reimagine the learning process, making it
  both effective and enjoyable for students worldwide. Through projects like
  Taboo AI and a background in web and mobile development, I'm committed to
  creating seamless and engaging educational experiences. Let's work together to
  make learning an inspiring journey! 📚💡🌟
</p>
<p>
  Here is my personal blog. I will put my learnings and findings, about EdTech,
  here for everyone to read and discuss together! If you like my contents and
  are interested in my projects and visions, feel free to contact me at
  <a href="mailto:xmliszt@gmail.com">xmliszt@gmail.com</a>! I'm always open to
  new ideas and collaborations! 😊
</p>

{% if site.theme_config.show_blog == true %}
<h2>{{ site.theme_config.home.title_blog }}</h2>
{% include post_list.html %} {% endif %} {% if site.theme_config.show_projects
== true %}
<h2>{{ site.theme_config.home.title_projects }}</h2>
{% include card_list.html collection=site.data.home.project_entries %} {% endif
%} {% if site.theme_config.show_misc_list == true %}
<h2>{{ site.theme_config.home.title_misc_list }}</h2>
{% include vertical_list.html collection=site.data.home.misc_entries %} {% endif
%} {% if site.theme_config.show_old_projects == true %}
<h2>{{ site.theme_config.home.title_old_projects }}</h2>
{% include card_list.html collection=site.data.home.old_project_entries %} {%
endif %} {% if site.theme_config.show_footer == true %}
<footer>
  <div class="dashed"></div>
  {% include horizontal_list.html collection=site.data.home.footer_entries %}
</footer>
{% endif %}
